body {
	background: #262626;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}

.editor-wrap {
	width: 70%;
	overflow: auto;
	padding-left: 2em;
	
	display: flex;
}

#gutter {
	float: left;
	margin-top: 1em;
	padding: 1em;
	min-width: 2em;
	
	line-height: 2;
	color: rgba(255, 255, 255, 0.4);
	text-align: right;
}

.editor-wrappy-wrap {
	position: relative;
}

#editor, #shadow-editor {
	color: transparent;
	caret-color: #fff;
	padding: 1em;
	line-height: 2;
	min-width: 20em;
}

#editor:focus {
	outline: none;
}

#shadow-editor {
	position: absolute;
	top: 0;
	color: #fff;
	pointer-events: none;
}

#output {
	width: 30%;
	min-width: 250px;
	padding: 1em;	
	padding-right: 3em;
}

#output .output-line {
	margin: -0.66em 0;
	color: #7BD445;
	font-weight: bold;
	letter-spacing: 0.03em;
	text-align: right;

	transition: 300ms ease;
}

#output .output-line.highlight {
	color: #fff;
	transform: translateX(-4px);
}

.comment {

}

.number {
	color: #fff;
}

.operator {

}

.word-operator {
	color: #4acbff;
}

.unit {
	color: #a1c4dc;
}

.variable {
	color: #ffb52c;
}

.constant {
	
}

.parantheses {
	color: #F78C6C;
}

.num-modifier {
	color: #fff;
}

/* div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}
 */
/* strong {
  font-weight: bold;
} */